run = "chmod +x start-both.sh && bash start-both.sh"
entrypoint = "backend/public/index.php"

[nix]
channel = "stable-23_11"

[deployment]
[deployment]
run = ["sh", "-c", "bash deploy.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
